* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: hsl(30, 38%, 92%);
}

.product {
    display: flex;
    width: 600px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    font-size: 1.4rem;
    box-shadow: 0 .2rem 2rem .1rem rgba(0, 0, 0, .16);
}

.product__img, .product__content {
    width: 50%;
}

.product__img picture img{
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.product__content {
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.8rem;
}

.product__title, .product__btn--new {
    font-family: 'Fraunces', serif;;
}

.product__category {
    color: grey;
    letter-spacing: .3rem;
    text-transform: uppercase;
}

.product__title {
    font-size: 3.5rem;
    line-height: 1;
}

.product__description {
    color: hsl(228, 12%, 48%);
    line-height: 1.7;
}

.product__price {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.product__price--new {
    font-family: 'Fraunces', serif;
    font-size: 3.3rem;
    color: hsl(158, 36%, 37%);
}

.product__price--old {
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}

.btn {
    color: white;
    border-radius: .5rem;
    width: 100%;
    padding: 1.3rem 0;
    border: none;
    background-color: hsl(158, 36%, 37%);
    cursor: pointer;
    transition: background-color .2s, box-shadow .3s;
}

.btn:hover {
    box-shadow: 0 .2rem 1rem .1rem rgba(0, 0, 0, .16);
}

.btn:active {
    background-color: hsl(158, 36%, 28%);
}

.attribution { 
    font-size: 11px; text-align: center; 
    position: absolute;
    bottom: 10px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}