* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: hsl(30, 38%, 92%);
}

.product {
    display: flex;
    width: 600px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    font-size: 1.4rem;
}

.product__img, .product__content {
    width: 50%;
}

.product__img {
    background-image: url("../images/image-product-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.product__content {
    padding: 2.5rem;
}

.product__title, .product__btn--new {
    font-family: 'Fraunces', serif;;
}

.product__category {
    color: grey;
    letter-spacing: .3rem;
    text-transform: uppercase;
}

.product__title {
    font-size: 2.5rem;
    margin: 1.5rem 0;
}

.product__description {
    color: hsl(228, 12%, 48%);
    margin-bottom: 1.5rem
}

.attribution { 
    font-size: 11px; text-align: center; 
    position: absolute;
    bottom: 10px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}