* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
}

.product {
    display: flex;
    
}

.product__img, .product__content {
    width: 50%;
}

.product__title, .product__btn--new {
    font-family: 'Fraunces', serif;;
}

.attribution { 
    font-size: 11px; text-align: center; 
    position: absolute;
    bottom: 10px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}